:root {
    --darkblue_background :  #1a2a5c;
    --light_text_white : #cbd5e1;
    --side_border : #6c7e9b;
    --hightlight_border : #60a5fa;
    --dark_black_bg : #2b2b5f;
    --light_dark_black_bg : #262626;
    --very_dark_blue : #111827;
    --text_black: black;


    --light-text-color : #1e40af;
    --light-text-bg : #bfdbfe;
    --light-text-hover : #60a5fa;
}