:root {
   
}
.main-layout-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--darkblue-background);
    overflow: hidden;
}
.app-container {
    display: flex;
    width: 70%;
    /* height: 100vh; */
    align-items: stretch;
}
.nav-container {
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue-background);
    color: var(--light-text-white);
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    border-right: 0.5px solid var(--side-border);
}

.main-container {
    display: flex;
    flex: 5;
    background-color: var(--darkblue-background);
    padding: 1rem;
}

.close-btn-container {
    display: flex;
    justify-content: center;
}
.close-btn {
    background-color: var(--darkblue-background);
    border: none;
    padding: 1rem;
    font-size: larger;
    color: var(--light-text-white);
}
.close-btn:hover {
    text-decoration: underline;
}

.nav-ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.nav-ul li a {
    display: block;
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    padding: 0.3rem 1rem;
    color: var(--light-text-white);
}

.nav-ul li a:hover {
    background-color: #0c4a6e;
}