@import"../../global/variable.css";

.new_input_wrapper {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 1px solid var(--side-border);
    position: relative;
}
.new_input_wrapper:hover{
    outline-color: var(--hightlight_border);
    outline-width: 1px;
    outline-style: solid;
}

.input_label {
    position: absolute;
    transform: translate(10px , 5px);
    z-index: 0;
    pointer-events: none;
    animation: slideIn 0.1s;
}

@keyframes slideIn {
    0% {
        transform: translate(-10px,-15px);
    }
    50% {
        transform: translate(-4px,-5px);    
    }
    100% {
    }
}

.input_input {
    padding: 0.5rem 0.5rem;
    border: none;
    border: none;
    outline: none;
    appearance: none;
}

.hide {
    display: none;
}
.show_fieldSet{
    position: absolute;
    top : -10px;
    right: 0;
    bottom: 0;
    left: 0;
    outline-color: var(--hightlight_border);
    color: var(--hightlight_border);
    border-color: var(--hightlight_border);
    /* height: 2rem; */
}
/* .show_fieldSet{
    position: absolute;
    top : -10px;
    right: 0;
    bottom: 0;
    left: 0;
    outline-color: black;
    color: black;
    border-color: black;
} */
.legend_animation {
    animation: slide 0.5s;
}
.wrapper_clicked {
    padding: 0.5rem 1rem;
    display: inline-block;
    position: relative;
    outline: none;
    border: none;
}

@keyframes slide {
    0% {
        display: none;
    }
    50% {
        transform: translate(2px,2px);
    }
    100% {
        display: inline-block;
        transform: translate(0,0);
    }
}

.btn_up {
    transition: transform 0.3s;
}
.btn_down {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.input_icon_btn {
    background-color: white;
    border: none;
}